PUID=1000
PGID=10
TZ=America/Toronto

CONFIG_DIR=/volume1/docker/media-stack/config
FAMILY_DIR=/volume1/Family
DOWNLOADS_DIR=/volume1/Family/Downloads
MEDIA_DIR=/volume1/Family/Media

SONARR_URL=http://sonarr:8989
SONARR_API_KEY=replace_me

RADARR_URL=http://radarr:7878
RADARR_API_KEY=replace_me

PROFILARR_TAG=latest
PROFILARR_PORT=6868
PROFILARR_SYNC_ON_DEPLOY=0
