PUID=1000
PGID=10
TZ=America/Toronto

CONFIG_ROOT=/volume1/docker/media-stack/config
DOWNLOADS_ROOT=/volume1/Family/Downloads
MEDIA_ROOT=/volume1/Family/Media

SONARR_URL=http://sonarr:8989
SONARR_API_KEY=replace_me

RADARR_URL=http://radarr:7878
RADARR_API_KEY=replace_me
